/*REINICIAR ESTILOS*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Zilla+Slab:400,500,600,700");
* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

/*PARCIALES*/
/*GRID*/
.row {
  margin-left: -1rem;
  margin-right: -1rem; }
  .row:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

@media (min-width: 0) {
  .col-xs-1 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 8.3333333333%; }

  .col-xs-2 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 16.6666666667%; }

  .col-xs-3 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 25%; }

  .col-xs-4 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 33.3333333333%; }

  .col-xs-5 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 41.6666666667%; }

  .col-xs-6 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 50%; }

  .col-xs-7 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 58.3333333333%; }

  .col-xs-8 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 66.6666666667%; }

  .col-xs-9 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 75%; }

  .col-xs-10 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 83.3333333333%; }

  .col-xs-11 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 91.6666666667%; }

  .col-xs-12 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 100%; } }
@media (min-width: 768px) {
  .col-sm-1 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 8.3333333333%; }

  .col-sm-2 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 16.6666666667%; }

  .col-sm-3 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 25%; }

  .col-sm-4 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 33.3333333333%; }

  .col-sm-5 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 41.6666666667%; }

  .col-sm-6 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 50%; }

  .col-sm-7 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 58.3333333333%; }

  .col-sm-8 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 66.6666666667%; }

  .col-sm-9 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 75%; }

  .col-sm-10 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 83.3333333333%; }

  .col-sm-11 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 91.6666666667%; }

  .col-sm-12 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 100%; } }
@media (min-width: 992px) {
  .col-md-1 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 8.3333333333%; }

  .col-md-2 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 16.6666666667%; }

  .col-md-3 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 25%; }

  .col-md-4 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 33.3333333333%; }

  .col-md-5 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 41.6666666667%; }

  .col-md-6 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 50%; }

  .col-md-7 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 58.3333333333%; }

  .col-md-8 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 66.6666666667%; }

  .col-md-9 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 75%; }

  .col-md-10 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 83.3333333333%; }

  .col-md-11 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 91.6666666667%; }

  .col-md-12 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 8.3333333333%; }

  .col-lg-2 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 16.6666666667%; }

  .col-lg-3 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 25%; }

  .col-lg-4 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 33.3333333333%; }

  .col-lg-5 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 41.6666666667%; }

  .col-lg-6 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 50%; }

  .col-lg-7 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 58.3333333333%; }

  .col-lg-8 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 66.6666666667%; }

  .col-lg-9 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 75%; }

  .col-lg-10 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 83.3333333333%; }

  .col-lg-11 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 91.6666666667%; }

  .col-lg-12 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 100%; } }
/*TEMA DE COLOR*/
.theme-navbar, .navbar {
  background-color: transparent;
  color: #fff; }
  .theme-navbar .brand, .navbar .brand {
    background-color: inherit; }
    .theme-navbar .brand a, .navbar .brand a {
      color: #fff; }
    .theme-navbar .brand span, .navbar .brand span {
      background-color: #6bccff; }
  .theme-navbar .navbar-menu, .navbar .navbar-menu {
    background-color: inherit; }
    .theme-navbar .navbar-menu .navbar-menu__item a, .navbar .navbar-menu .navbar-menu__item a {
      color: #fff; }
    .theme-navbar .navbar-menu .navbar-menu__item a:hover, .navbar .navbar-menu .navbar-menu__item a:hover {
      background-color: #6bccff; }

.theme-navbar-small, .navbar-small {
  background-color: #fff;
  color: #333333;
  -webkit-box-shadow: 0 0 10px gray;
  -moz-box-shadow: 0 0 10px gray;
  box-shadow: 0 0 10px gray; }
  .theme-navbar-small .brand, .navbar-small .brand {
    background-color: inherit; }
    .theme-navbar-small .brand a, .navbar-small .brand a {
      color: #6bccff; }
    .theme-navbar-small .brand span, .navbar-small .brand span {
      color: #fff;
      background-color: #6bccff; }
  .theme-navbar-small .navbar-menu, .navbar-small .navbar-menu {
    background-color: inherit; }
    .theme-navbar-small .navbar-menu .navbar-menu__item a, .navbar-small .navbar-menu .navbar-menu__item a {
      color: #333333; }
    .theme-navbar-small .navbar-menu .navbar-menu__item a:hover, .navbar-small .navbar-menu .navbar-menu__item a:hover {
      background-color: #6bccff; }

.theme-home, .home {
  background-image: url(../assets/img/bg-home.jpeg);
  background-repeat: no-repeat;
  background-position: center -45px;
  background-size: cover;
  color: #fff; }

.theme-important-section, .about-me, .portfolio, .card {
  background-color: #fff; }

.theme-section, .skills, .contact-me {
  background-color: #f5f5f5; }

.btn {
  border: 3px solid;
  display: inline-block;
  font-weight: 500;
  font-size: 0.875rem;
  text-decoration: inherit;
  margin: 0 0.5rem 1rem;
  padding: 1rem 0;
  width: 150px; }
  .btn :hover {
    -webkit-transition: 200ms ease-in;
    -moz-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in; }

.btn-important {
  background-color: #f9a91a;
  border-color: #f9a91a;
  color: #fff; }
  .btn-important :hover {
    background-color: #fff;
    border-color: #f9a91a;
    color: #333333; }

.btn-default {
  background-color: #333333;
  border-color: #333333;
  color: #fff; }
  .btn-default :hover {
    background-color: #fff;
    border-color: #333333;
    color: #333333; }

.btn-round {
  background-color: #333333;
  border-radius: 50%;
  color: #fff;
  opacity: 0.5;
  padding: 0.5rem 1rem;
  width: auto; }
  .btn-round :hover {
    background-color: #333333;
    opacity: 0.25; }

/*ESTILOS GENERALES*/
body {
  color: #333333;
  font-family: "Roboto", sans-serif; }

html, body, .root, .wrapper {
  height: 100%; }

nav, section, footer {
  padding-left: 7.5%;
  padding-right: 7.5%; }

section {
  padding-top: 110px;
  padding-bottom: 50px;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 50px; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

p {
  margin-bottom: 1rem; }

[class^='flaticon-'] {
  color: #f9a91a; }

[class^='flaticon-']::before {
  font-size: 6rem;
  margin-left: 0; }

/*BLOQUES*/
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding-top: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

.navbar-small {
  padding-top: 0;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.brand {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-size: 48px; }
  .brand a {
    text-decoration: none; }
  .brand span {
    margin-left: 0.25rem;
    padding: 0 0.25rem; }

.navbar-menu {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  list-style: none;
  text-transform: uppercase;
  overflow: auto; }
  .navbar-menu__item {
    float: left;
    font-weight: 500;
    margin: 0 2px; }
    .navbar-menu__item a {
      display: block;
      padding: 1rem 1rem;
      height: 100%;
      text-align: center;
      text-decoration: none; }

.home {
  height: 100%;
  padding: 0; }

.board {
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  height: 100%;
  width: 100%; }
  .board__text {
    display: table-cell;
    font-weight: 900;
    vertical-align: middle; }
    .board__text h1 {
      color: #6bccff; }

.photo-author img {
  width: 100%; }

.biography-author {
  font-weight: 300;
  text-align: left; }
  .biography-author__name {
    font-size: 2rem;
    margin-bottom: 1rem; }
    .biography-author__name span {
      color: #6bccff;
      font-weight: bold; }
  .biography-author__profession {
    font-size: 1.25rem;
    margin-bottom: 1rem; }
    .biography-author__profession span {
      color: #6bccff;
      font-weight: bold; }
  .biography-author__description p {
    line-height: 1.75em;
    text-align: justify; }
  .biography-author__more span {
    color: #f9a91a;
    font-weight: 500; }

.badges__item {
  margin-right: 1rem;
  width: 17.5%; }

.skill {
  background-color: #fff;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 1rem; }
  .skill__icon {
    margin-bottom: 1rem; }

.project img {
  width: 100%; }

.card {
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1);
  height: 300px;
  padding: 1rem; }

@media (min-width: 1200px) {
  .about-me {
    height: 100%; } }

/*# sourceMappingURL=main.css.map */
