/*REINICIAR ESTILOS*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Zilla+Slab:400,500,600,700");
* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

/*PARCIALES*/
/*GRID*/
.row {
  margin-left: -1rem;
  margin-right: -1rem; }
  .row:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

@media (min-width: 0) {
  .col-xs-1 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 8.3333333333%; }

  .col-xs-2 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 16.6666666667%; }

  .col-xs-3 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 25%; }

  .col-xs-4 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 33.3333333333%; }

  .col-xs-5 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 41.6666666667%; }

  .col-xs-6 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 50%; }

  .col-xs-7 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 58.3333333333%; }

  .col-xs-8 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 66.6666666667%; }

  .col-xs-9 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 75%; }

  .col-xs-10 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 83.3333333333%; }

  .col-xs-11 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 91.6666666667%; }

  .col-xs-12 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 100%; } }
@media (min-width: 768px) {
  .col-sm-1 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 8.3333333333%; }

  .col-sm-2 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 16.6666666667%; }

  .col-sm-3 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 25%; }

  .col-sm-4 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 33.3333333333%; }

  .col-sm-5 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 41.6666666667%; }

  .col-sm-6 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 50%; }

  .col-sm-7 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 58.3333333333%; }

  .col-sm-8 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 66.6666666667%; }

  .col-sm-9 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 75%; }

  .col-sm-10 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 83.3333333333%; }

  .col-sm-11 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 91.6666666667%; }

  .col-sm-12 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 100%; } }
@media (min-width: 992px) {
  .col-md-1 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 8.3333333333%; }

  .col-md-2 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 16.6666666667%; }

  .col-md-3 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 25%; }

  .col-md-4 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 33.3333333333%; }

  .col-md-5 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 41.6666666667%; }

  .col-md-6 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 50%; }

  .col-md-7 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 58.3333333333%; }

  .col-md-8 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 66.6666666667%; }

  .col-md-9 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 75%; }

  .col-md-10 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 83.3333333333%; }

  .col-md-11 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 91.6666666667%; }

  .col-md-12 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 8.3333333333%; }

  .col-lg-2 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 16.6666666667%; }

  .col-lg-3 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 25%; }

  .col-lg-4 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 33.3333333333%; }

  .col-lg-5 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 41.6666666667%; }

  .col-lg-6 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 50%; }

  .col-lg-7 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 58.3333333333%; }

  .col-lg-8 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 66.6666666667%; }

  .col-lg-9 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 75%; }

  .col-lg-10 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 83.3333333333%; }

  .col-lg-11 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 91.6666666667%; }

  .col-lg-12 {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: 100%; } }
/*TEMA DE COLOR*/
.theme-navbar, .navbar {
  background-color: transparent;
  color: #fff; }
  .theme-navbar .brand, .navbar .brand {
    background-color: inherit; }
    .theme-navbar .brand a, .navbar .brand a {
      color: #fff; }
    .theme-navbar .brand span, .navbar .brand span {
      background-color: #6bccff; }
  .theme-navbar .navbar-menu, .navbar .navbar-menu {
    background-color: inherit; }
    .theme-navbar .navbar-menu .navbar-menu__item a, .navbar .navbar-menu .navbar-menu__item a {
      color: #fff; }
    .theme-navbar .navbar-menu .navbar-menu__item a:hover, .navbar .navbar-menu .navbar-menu__item a:hover {
      background-color: #6bccff; }

.theme-navbar-small, .navbar-small {
  background-color: #fff;
  color: #333333;
  -webkit-box-shadow: 0 0 10px gray;
  -moz-box-shadow: 0 0 10px gray;
  box-shadow: 0 0 10px gray; }
  .theme-navbar-small .brand, .navbar-small .brand {
    background-color: inherit; }
    .theme-navbar-small .brand a, .navbar-small .brand a {
      color: #6bccff; }
    .theme-navbar-small .brand span, .navbar-small .brand span {
      color: #fff;
      background-color: #6bccff; }
  .theme-navbar-small .navbar-menu, .navbar-small .navbar-menu {
    background-color: inherit; }
    .theme-navbar-small .navbar-menu .navbar-menu__item a, .navbar-small .navbar-menu .navbar-menu__item a {
      color: #333333; }
    .theme-navbar-small .navbar-menu .navbar-menu__item a:hover, .navbar-small .navbar-menu .navbar-menu__item a:hover {
      background-color: #6bccff; }

.theme-home, .home {
  background-image: url(../assets/img/bg-home.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.theme-important-section, .about-me, .portfolio, .card {
  background-color: #fff; }

.theme-section, .skills, .contact-me {
  background-color: #f5f5f5; }

.btn {
  border: 3px solid;
  display: inline-block;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: inherit;
  margin: 0 0.5rem 1rem;
  padding: 1rem 0;
  width: 150px; }
  .btn :hover {
    -webkit-transition: 200ms ease-in;
    -moz-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in; }

.btn-important {
  background-color: #f9a91a;
  border-color: #f9a91a;
  color: #fff; }
  .btn-important :hover {
    background-color: #fff;
    border-color: #f9a91a;
    color: #333333; }

.btn-default {
  background-color: #333333;
  border-color: #333333;
  color: #fff; }
  .btn-default :hover {
    background-color: #fff;
    border-color: #333333;
    color: #333333; }

.btn-round {
  background-color: #333333;
  border-radius: 50%;
  color: #fff;
  opacity: 0.5;
  padding: 0.5rem 1rem;
  width: auto; }
  .btn-round :hover {
    background-color: #333333;
    opacity: 0.25; }

/*ESTILOS GENERALES*/
body {
  color: #333333;
  font-family: "Roboto", sans-serif; }

html, body, .root, .wrapper {
  height: 100%; }

nav, section, footer {
  padding-left: 7.5%;
  padding-right: 7.5%; }

section {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-weight: 900; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

p {
  margin-bottom: 1rem; }

[class^='flaticon-'] {
  color: #f9a91a; }

[class^='flaticon-']::before {
  font-size: 6rem;
  margin-left: 0; }

.flaticon-facebook-logo-button {
  color: #3b5998; }

.flaticon-linkedin-button {
  color: #0077b5; }

.flaticon-github-logo {
  color: #000000; }

/*BLOQUES*/
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding-top: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

.navbar-small {
  padding-top: 0;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.brand {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-size: 48px; }
  .brand a {
    text-decoration: none; }
  .brand span {
    margin-left: 0.25rem;
    padding: 0 0.25rem; }

.navbar-menu {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  list-style: none;
  text-transform: uppercase;
  overflow: auto; }
  .navbar-menu__item {
    float: left;
    font-weight: 500;
    margin: 0 2px; }
    .navbar-menu__item a {
      display: block;
      padding: 1rem 1rem;
      height: 100%;
      text-align: center;
      text-decoration: none; }

.home {
  height: 100%;
  padding: 0; }

.board {
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  height: 100%;
  width: 100%; }
  .board__text {
    display: table-cell;
    font-weight: 900;
    vertical-align: middle; }
    .board__text h1 {
      color: #6bccff; }

.photo-author img {
  width: 100%; }

.biography-author {
  font-weight: 300;
  text-align: left; }
  .biography-author__name {
    font-size: 2rem;
    margin-bottom: 1rem; }
    .biography-author__name span {
      color: #6bccff;
      font-weight: bold; }
  .biography-author__profession {
    font-size: 1.25rem;
    margin-bottom: 1rem; }
    .biography-author__profession span {
      color: #6bccff;
      font-weight: bold; }
  .biography-author__description p {
    line-height: 1.75em;
    text-align: justify; }
  .biography-author__more span {
    color: #f9a91a;
    font-weight: 500; }

.badges__item {
  margin-right: 1rem;
  width: 17.5%; }

.skill {
  background-color: #fff;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 1rem; }
  .skill__icon {
    margin-bottom: 1rem; }

.project {
  position: relative;
  overflow: hidden; }
  .project img {
    max-width: 100%; }

.project-caption {
  color: #fff;
  cursor: default;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; }

.project-caption,
.project-information {
  text-align: left; }
  .project-caption h3,
  .project-information h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: normal; }
  .project-caption p,
  .project-information p {
    text-align: justify; }

.project-caption h3 {
  color: #f9a91a; }
.project-caption p {
  display: none; }
.project-caption .user-action {
  position: absolute;
  text-align: center; }

.project-information h3 {
  color: #6bccff; }

.project-image {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.project:hover .project-image {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.project .project-image,
.project-caption,
.project:hover .project-caption,
.project:hover img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.project:hover .bottom-to-top,
.project:hover .top-to-bottom,
.project:hover .left-to-right,
.project:hover .right-to-left,
.project:hover .rotate-in,
.project:hover .rotate-out,
.project:hover .open-up,
.project:hover .open-down,
.project:hover .open-left,
.project:hover .open-right,
.project:hover .come-left,
.project:hover .come-right {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -o-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent; }

.bottom-to-top {
  top: 50%;
  left: 0; }

.project:hover .bottom-to-top {
  top: 0;
  left: 0; }

.top-to-bottom {
  bottom: 50%;
  left: 0; }

.project:hover .top-to-bottom {
  left: 0;
  bottom: 0; }

.left-to-right {
  top: 0;
  right: 50%; }

.project:hover .left-to-right {
  right: 0;
  top: 0; }

.right-to-left {
  top: 0;
  left: 50%; }

.project:hover .right-to-left {
  left: 0;
  top: 0; }

.rotate-in {
  -webkit-transform: rotate(90deg) scale(0.1);
  -moz-transform: rotate(90deg) scale(0.1);
  -o-transform: rotate(90deg) scale(0.1);
  -ms-transform: rotate(90deg) scale(0.1);
  transform: rotate(90deg) scale(0.1);
  top: 0;
  left: 0; }

.project:hover .rotate-in {
  -webkit-transform: rotate(360deg) scale(1);
  -moz-transform: rotate(360deg) scale(1);
  -o-transform: rotate(360deg) scale(1);
  -ms-transform: rotate(360deg) scale(1);
  transform: rotate(360deg) scale(1); }

.rotate-out {
  -webkit-transform: rotate(90deg) scale(3);
  -moz-transform: rotate(90deg) scale(3);
  -o-transform: rotate(90deg) scale(3);
  -ms-transform: rotate(90deg) scale(3);
  transform: rotate(90deg) scale(3);
  top: 0;
  left: 0; }

.project:hover .rotate-out {
  -webkit-transform: rotate(360deg) scale(1);
  -moz-transform: rotate(360deg) scale(1);
  -o-transform: rotate(360deg) scale(1);
  -ms-transform: rotate(360deg) scale(1);
  transform: rotate(360deg) scale(1); }

.open-down {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  top: 0;
  left: 0; }

.project:hover .open-down {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -o-transform: rotateX(0);
  -ms-transform: rotateX(0);
  transform: rotateX(0); }

.open-up {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  top: 0;
  left: 0; }

.project:hover .open-up {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -o-transform: rotateX(0);
  -ms-transform: rotateX(0);
  transform: rotateX(0); }

.open-left {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: 0;
  top: 0; }

.project:hover .open-left {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.open-right {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  left: 0;
  top: 0; }

.project:hover .open-right {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.come-left {
  -webkit-transform: rotateY(90deg) rotateX(90deg);
  -moz-transform: rotateY(90deg) rotateX(90deg);
  -o-transform: rotateY(90deg) rotateX(90deg);
  -ms-transform: rotateY(90deg) rotateX(90deg);
  transform: rotateY(90deg) rotateX(90deg);
  left: 0;
  top: 0; }

.project:hover .come-left {
  -webkit-transform: rotateY(0) rotateX(0);
  -moz-transform: rotateY(0) rotateX(0);
  -o-transform: rotateY(0) rotateX(0);
  -ms-transform: rotateY(0) rotateX(0);
  transform: rotateY(0) rotateX(0); }

.come-right {
  -webkit-transform: rotateY(-90deg) rotateX(-90deg);
  -moz-transform: rotateY(-90deg) rotateX(-90deg);
  -o-transform: rotateY(-90deg) rotateX(-90deg);
  -ms-transform: rotateY(-90deg) rotateX(-90deg);
  transform: rotateY(-90deg) rotateX(-90deg);
  left: 0;
  top: 0; }

.project:hover .come-right {
  -webkit-transform: rotateY(0) rotateX(0);
  -moz-transform: rotateY(0) rotateX(0);
  -o-transform: rotateY(0) rotateX(0);
  -ms-transform: rotateY(0) rotateX(0);
  transform: rotateY(0) rotateX(0); }

.card {
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1); }

.direct-contact p {
  margin-bottom: 2rem; }
  .direct-contact p span {
    font-weight: bold; }
.direct-contact .btn {
  width: 175px;
  padding: 1.5rem 0; }

.template-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem; }

.social-networks [class^='flaticon-']:hover {
  color: #f9a91a; }
.social-networks a {
  display: inline-block;
  margin-right: 1rem;
  text-decoration: none; }

@media (min-width: 0) {
  [class^='flaticon-']::before {
    font-size: 5rem; }

  section {
    padding-top: 2rem;
    padding-bottom: 2rem; }

  h1 {
    font-size: 3rem; }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem; }

  .navbar {
    display: none; }

  .home {
    background-position: -150px top; }

  .biography-author__more {
    text-align: center; }

  .skill {
    height: 190px; }
    .skill__description {
      display: none; }

  .portfolio .row:nth-child(2) .project-title {
    margin-top: 0; }

  .project {
    max-width: 400px;
    max-height: 300px;
    display: block;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    animation: none; }

  .project-caption {
    padding: 1rem; }
    .project-caption .user-action {
      bottom: 0.25rem;
      width: calc(100% - 2rem); }
      .project-caption .user-action .btn {
        padding: 1rem 0;
        width: 100px; }

  .project-information {
    padding: 0; }
    .project-information h4, .project-information ul {
      display: none; }

  .card {
    height: auto;
    padding: 1rem; }

  .direct-contact {
    margin-bottom: 1rem; }

  .personal-information {
    font-size: 0.85rem; }
    .personal-information [class^='flaticon-']::before {
      font-size: 1.5rem; }
    .personal-information .flaticon-smartphone-call {
      margin-left: -5px;
      margin-right: 1rem; }
    .personal-information .flaticon-mail-black-envelope-symbol {
      margin-right: 0.5rem; }

  .social-networks {
    text-align: center; }
    .social-networks [class^='flaticon-']::before {
      font-size: 2rem; } }
@media (min-width: 992px) {
  h1 {
    font-size: 4rem; }

  h3 {
    font-size: 2rem;
    margin-bottom: 50px; }

  section {
    padding-top: 110px;
    padding-bottom: 50px; }

  .navbar {
    display: flex; }

  .home {
    background-position: center -45px; }

  [class^='flaticon-']::before {
    font-size: 6rem; }

  .biography-author__more {
    text-align: left; }

  .skill {
    height: auto; }
    .skill__description {
      display: block; }

  .portfolio .row:nth-child(3) .col-md-6:nth-child(1) {
    position: relative;
    right: -50%; }
  .portfolio .row:nth-child(3) .col-md-6:nth-child(2) {
    position: relative;
    left: -50%; }

  .project {
    max-width: 100%;
    max-height: 100%; }

  .project-caption {
    padding: 2rem; }
    .project-caption p {
      display: block; }
    .project-caption .user-action {
      bottom: 1rem;
      width: calc(100% - 4rem); }
      .project-caption .user-action .btn {
        padding: 1rem 0;
        width: 150px; }

  .project-information {
    padding: 2rem; }
    .project-information h4 {
      font-weight: 500;
      display: block; }
    .project-information ul {
      list-style: none;
      display: block; }
      .project-information ul li {
        display: inline-block;
        background-color: lightgray;
        padding: 0.5rem; }

  .card {
    height: 250px;
    padding: 2rem; }

  .direct-contact {
    margin-bottom: 0; }

  .personal-information {
    font-size: 1rem; }
    .personal-information [class^='flaticon-']::before {
      font-size: 3rem; }
    .personal-information .flaticon-smartphone-call {
      margin-left: -10px;
      margin-right: 2rem; }
    .personal-information .flaticon-mail-black-envelope-symbol {
      margin-right: 1.5rem; }

  .social-networks {
    text-align: left; }
    .social-networks [class^='flaticon-']::before {
      font-size: 3rem; } }
@media (min-width: 1200px) {
  .about-me {
    height: 100%; }

  .project {
    max-width: 100%;
    max-height: 100%; } }

/*# sourceMappingURL=main.css.map */
