//PALETA DE COLOR
$primary-color: #6bccff;
$secondary-color: #fff;
$secondary-dark1-color: #E8E8E8;
$secondary-dark2-color: darken($secondary-color, 80%);
// $accent-color: #ff964e;
$accent-color: #f7b617;
/*TEMA DE COLOR*/
.theme-navbar {
  background-color: transparent;
  color: $secondary-color;
}
.theme-brand {
  background-color: inherit;
  color: $secondary-color;
  span{
    border: 1px solid $primary-color;
  }
}
.theme-navbar-menu {
  background-color: inherit;
}
.theme-navbar-menu__item {
  a{
     color: $secondary-color;
    }
  a:hover{
    background-color: $primary-color;
   }
}
.theme-home {
  background-image: url(../assets/img/bg-home.jpeg);
  background-repeat: no-repeat;
  background-position: center -45px;
  background-size: cover;
  color: $secondary-color;
}
.theme-important-section {
  background-color: $secondary-color;
  color: $secondary-dark2-color;
}
