//PALETA DE COLOR
$primary-color: #6bccff;
$secondary-color: #fff;
$secondary-dark1-color: #f5f5f5;
$secondary-dark2-color: darken($secondary-color, 80%);
$accent-color: #f9a91a;

/*TEMA DE COLOR*/
.theme-navbar {
  background-color: transparent;
  color: $secondary-color;
  .brand {
    background-color: inherit;
    a{
      color: $secondary-color;
    }
    span{
      background-color: $primary-color;
    }
  }
  .navbar-menu {
    background-color: inherit;
    .navbar-menu__item {
      a{
         color: $secondary-color;
        }
      a:hover{
        background-color: $primary-color;
       }
    }
  }
}
.theme-navbar-small {
  background-color: $secondary-color;
  color: $secondary-dark2-color;
  -webkit-box-shadow: 0 0 10px darken($secondary-color, 50%);
  -moz-box-shadow: 0 0 10px darken($secondary-color, 50%);
  box-shadow: 0 0 10px darken($secondary-color, 50%);
  .brand {
    background-color: inherit;
    a{
      color: $primary-color;
    }
    span{
      color: $secondary-color;
      background-color: $primary-color;
    }
  }
  .navbar-menu {
    background-color: inherit;
    .navbar-menu__item {
      a{
         color: $secondary-dark2-color;
        }
      a:hover{
        background-color: $primary-color;
       }
    }
  }
}
.theme-home {
  background-image: url(../assets/img/bg-home.jpeg);
  background-repeat: no-repeat;
  background-position: center -45px;
  background-size: cover;
  color: $secondary-color;
}
.theme-important-section {
  background-color: $secondary-color;
}
.theme-section {
  background-color: $secondary-dark1-color;
}
