@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Zilla+Slab:400,500,600,700');
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Zilla Slab', serif;

// TAMAÑOS DE TEXTO
$page-title-size        :4rem;//64px
$section-title-size     :3rem;//48px
$section-subtitle-size  :2rem;//32px
$important-word-size    :1rem;//16px
$item-size              :0.875rem;//14px
$note-size              :0.75rem;//12px
