/*GRID*/
$columns: 12; //total de columnas
$column-width: 100% / $columns; //ancho de columna 8.33%
$breakpoints: (xs : 0, sm : 768px, md : 992px, lg : 1200px ); //anchos de pantalla
//row

.row {
  overflow: auto;
}
//columns
@function column-width($column) {
   @return $column-width * $column;
}
@mixin column($media, $min-width) {
   @media (min-width:$min-width){
    @for $i from 1 through $columns {
      .col-#{$media}-#{$i} {
        float: left;
        width: column-width($i);
      }
    }
  }
}
@each $name, $width in $breakpoints {
   @include column($name, $width);
}
