/*REINICIAR ESTILOS*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Zilla+Slab:400,500,600,700");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*PARCIALES*/
/*GRID*/
.row {
  overflow: auto; }

@media (min-width: 0) {
  .col-xs-1 {
    float: left;
    width: 8.33333%; }

  .col-xs-2 {
    float: left;
    width: 16.66667%; }

  .col-xs-3 {
    float: left;
    width: 25%; }

  .col-xs-4 {
    float: left;
    width: 33.33333%; }

  .col-xs-5 {
    float: left;
    width: 41.66667%; }

  .col-xs-6 {
    float: left;
    width: 50%; }

  .col-xs-7 {
    float: left;
    width: 58.33333%; }

  .col-xs-8 {
    float: left;
    width: 66.66667%; }

  .col-xs-9 {
    float: left;
    width: 75%; }

  .col-xs-10 {
    float: left;
    width: 83.33333%; }

  .col-xs-11 {
    float: left;
    width: 91.66667%; }

  .col-xs-12 {
    float: left;
    width: 100%; } }
@media (min-width: 768px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%; }

  .col-sm-2 {
    float: left;
    width: 16.66667%; }

  .col-sm-3 {
    float: left;
    width: 25%; }

  .col-sm-4 {
    float: left;
    width: 33.33333%; }

  .col-sm-5 {
    float: left;
    width: 41.66667%; }

  .col-sm-6 {
    float: left;
    width: 50%; }

  .col-sm-7 {
    float: left;
    width: 58.33333%; }

  .col-sm-8 {
    float: left;
    width: 66.66667%; }

  .col-sm-9 {
    float: left;
    width: 75%; }

  .col-sm-10 {
    float: left;
    width: 83.33333%; }

  .col-sm-11 {
    float: left;
    width: 91.66667%; }

  .col-sm-12 {
    float: left;
    width: 100%; } }
@media (min-width: 992px) {
  .col-md-1 {
    float: left;
    width: 8.33333%; }

  .col-md-2 {
    float: left;
    width: 16.66667%; }

  .col-md-3 {
    float: left;
    width: 25%; }

  .col-md-4 {
    float: left;
    width: 33.33333%; }

  .col-md-5 {
    float: left;
    width: 41.66667%; }

  .col-md-6 {
    float: left;
    width: 50%; }

  .col-md-7 {
    float: left;
    width: 58.33333%; }

  .col-md-8 {
    float: left;
    width: 66.66667%; }

  .col-md-9 {
    float: left;
    width: 75%; }

  .col-md-10 {
    float: left;
    width: 83.33333%; }

  .col-md-11 {
    float: left;
    width: 91.66667%; }

  .col-md-12 {
    float: left;
    width: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    float: left;
    width: 8.33333%; }

  .col-lg-2 {
    float: left;
    width: 16.66667%; }

  .col-lg-3 {
    float: left;
    width: 25%; }

  .col-lg-4 {
    float: left;
    width: 33.33333%; }

  .col-lg-5 {
    float: left;
    width: 41.66667%; }

  .col-lg-6 {
    float: left;
    width: 50%; }

  .col-lg-7 {
    float: left;
    width: 58.33333%; }

  .col-lg-8 {
    float: left;
    width: 66.66667%; }

  .col-lg-9 {
    float: left;
    width: 75%; }

  .col-lg-10 {
    float: left;
    width: 83.33333%; }

  .col-lg-11 {
    float: left;
    width: 91.66667%; }

  .col-lg-12 {
    float: left;
    width: 100%; } }
/*TEMA DE COLOR*/
.theme-home, .home {
  color: #fff; }

/*ESTILOS GENERALES*/
body {
  font-family: "Roboto", sans-serif; }

html, body, .root, .wrapper {
  height: 100%; }

header, section, footer {
  padding-left: 10%;
  padding-right: 10%; }

section {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

/*COMPONENTES*/
.home {
  background-image: url(../assets/img/bg3-home.jpeg);
  background-repeat: no-repeat;
  background-position: center -45px;
  background-size: cover;
  height: 100%;
  padding: 0; }

.board {
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  height: 100%;
  width: 100%; }
  .board__text {
    display: table-cell;
    font-weight: 900;
    padding: 0 10%;
    text-align: left;
    vertical-align: middle; }
    .board__text h1 {
      color: #39c6e7; }

/*# sourceMappingURL=main.css.map */
