/*REINICIAR ESTILOS*/
* {
  margin: 0;
  padding: 0;
}
*,*:before, *:after {
  box-sizing: border-box;
}
/*PARCIALES*/
@import 'partials/_grid';
@import 'partials/_colors';
@import "partials/_fonts";
@import "partials/_gallery";
.btn {
  border: 3px solid;
  display: inline-block;
  font-weight: 500;
  font-size: $item-size;
  text-decoration: inherit;
  margin: 0 0.5rem 1rem;
  padding: 1rem 0;
  width: 150px;
  :hover {
    -webkit-transition: 200ms ease-in;
    -moz-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in;
  }
}
.btn-important {
  background-color: $accent-color;
  border-color: $accent-color;
  color: $secondary-color;
  :hover {
    background-color: $secondary-color;
    border-color: $accent-color;
    color: $secondary-dark2-color;
  }
}
.btn-default {
  background-color: $secondary-dark2-color;
  border-color: $secondary-dark2-color;
  color: $secondary-color;
  :hover {
    background-color: $secondary-color;
    border-color: $secondary-dark2-color;
    color: $secondary-dark2-color;
  }
}
.btn-round {
  background-color: $secondary-dark2-color;
  border-radius: 50%;
  color: $secondary-color;
  opacity: 0.5;
  padding: 0.5rem 1rem;
  width: auto;
  :hover {
    background-color: $secondary-dark2-color;
    opacity: 0.25;
  }
 }
/*ESTILOS GENERALES*/
body {
  color: $secondary-dark2-color;
  font-family: $primary-font;
}
html, body, .root, .wrapper {
  height: 100%;
}
nav, section, footer {
  padding-left: 7.5%;
  padding-right: 7.5%;
}
section {
  padding-top: 110px;
  padding-bottom: 50px;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}
h1 {
  font-size: $page-title-size;
}
h2 {
  font-size: $section-title-size;
}
h3 {
  font-size: $section-subtitle-size;
  font-weight: 900;
  margin-bottom: 50px;
}
h4 {
  font-size: $important-word-size;
}
h5 {
  font-size: $item-size;
}
h6 {
  font-size: $note-size;
}
p {
  margin-bottom: 1rem;
}
[class^='flaticon-'] {
  color: $accent-color;
}
[class^='flaticon-']::before {
  font-size: 6rem;
  margin-left: 0;
}
/*BLOQUES*/
.navbar {
  @extend .theme-navbar;
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding-top: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-small {
  padding-top: 0;
  @extend .theme-navbar-small;
  -ms-transition:     all 0.3s ease-out;
  -moz-transition:    all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition:      all 0.3s ease-out;
  transition:         all 0.3s ease-out;
}
.brand {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 48px;
  a {
    text-decoration: none;
  }
  span {
    margin-left: 0.25rem;
    padding: 0 0.25rem;
  }
}
.navbar-menu {
  font-family: $primary-font;
  font-size: $note-size;
  list-style: none;
  text-transform: uppercase;
  overflow: auto;
  &__item {
    float: left;
    font-weight: 500;
    margin: 0 2px;
    a{
       display: block;
       padding: 1rem 1rem;
       height: 100%;
       text-align: center;
       text-decoration: none;
      }
  }
}
.home {
  @extend .theme-home;
  height: 100%;
  padding: 0;
}
.board {
  background-color:rgba(0,0,0,0.5);
  display: table;
  height: 100%;
  width: 100%;
  &__text {
    display: table-cell;
    font-weight: 900;
    vertical-align: middle;
    h1 {
      color: $primary-color;
    }
  }
}
.about-me {
  @extend .theme-important-section;
  height: 100%;
}
.photo-author {
  img {
    width: 100%;
  }
}
.biography-author {
  font-weight: 300;
  text-align: left;
  &__name{
    font-size: 2rem;
    margin-bottom: 1rem;
    span {
      color: $primary-color;
      font-weight: bold;
    }
  }
  &__profession{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    span{
      color: $primary-color;
      font-weight: bold;
    }
  }
  &__description {
    p {
      line-height: 1.75em;
      text-align: justify;
    }
  }
  &__more {
    span {
      color: $accent-color;
      font-weight: 500;
    }
  }
}
.badges {
  &__item {
    margin-right: 1rem;
    width: 17.5%;
  }
}
.skills {
  @extend .theme-section;
}
.skill {
  background-color: $secondary-color;
  box-shadow: 1px 1px 9px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  padding: 1rem;
  &__icon {
    margin-bottom: 1rem;
  }
}
.portfolio {
  @extend .theme-important-section;
}
.contact-me {
  @extend .theme-section;
}
.card {
  @extend .theme-important-section;
  box-shadow: 1px 1px 9px rgba(0,0,0,0.1);
  height: 300px;
  padding: 1rem;
}
